<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Examen.Properties.Settings.BioPrinzConnectionString"
            connectionString="Data Source=L29_PC26\SQLEXPRESS;Initial Catalog=BioPrinz;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Examen.Properties.Settings.BioPrinzConnectionString1"
            connectionString="Data Source=DESKTOP-FEKFB5S\SQLEXPRESS01;Initial Catalog=BioPrinz;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>